body {
	background-image: url('../img/forest.jpg');
	object-fit: cover;
}

.header {
	text-align: center;
	margin-bottom: 7%;
	background-color: black;
	width: 100%;
}

h1 {
	margin: auto;
	color: hsl(0, 6%, 96%);
	font-family: 'Kavivanar', cursive;
	margin-top: .5%;
	margin-bottom: .4%
}

img {
	margin-top: 3%
}

.main {
	text-align: center;
}

.btn-danger {
	margin-left: 2%
}

#userSign {
	color: red;
	background-color: black
}